.row {
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 10rem);
  background: linear-gradient(5deg, red, tan);
}
.col {
  flex-flow: row-reverse nowrap;
  display: inline-flex;
  width: calc(10px);
}