.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  height: -webkit-calc(100vh - 10rem);
  height: -moz-calc(100vh - 10rem);
  background: -webkit-linear-gradient(5deg,red,tan);
  background: -moz-linear-gradient(5deg,red,tan);
  background: -ms-linear-gradient(5deg,red,tan);
  background: -o-linear-gradient(5deg,red,tan);
}
.col {
  -ms-flex-flow: row-reverse nowrap;
  -webkit-flex-flow: row-reverse nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  width: -webkit-calc(10px);
  width: -moz-calc(10px);
}
