.TEST .a {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: -webkit-calc(10px) -webkit-calc(5px);
  padding: -moz-calc(10px) -moz-calc(5px);
  background-image: -webkit-linear-gradient(45deg,white,green);
  background-image: -moz-linear-gradient(45deg,white,green);
  background-image: -ms-linear-gradient(45deg,white,green);
  background-image: -o-linear-gradient(45deg,white,green);
}
.TEST .b {
  background-image: -webkit-repeating-linear-gradient(45deg,white,green);
}
