.TEST .a {
  -webkit-border-radius: 2px 2px solid;
  -moz-border-radius: 2px 2px solid;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  -webkit-flex-basis: 0 !important;
  -ms-flex-preferred-size: 0 !important;
}
@media (min-width:500px) {
}
