.hyphens {
  hyphens: auto;
}
.row {
  border-radius: 2px 2px solid;
  display: flex !important;
  flex-basis: 0 !important;
  hyphens: auto;
  height: calc(2px);
}
@page  {
  display: block;
}
@media (min-width: 500px) {
  .row {
    display: block;
  }
}
@keyframes abc {
  0% {
    opacity: 0;
  }
}